src/main/app/mavenproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="mavenprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mvnhello" doc:name="HTTP"/>
        <set-payload value="HELLO WORLD &amp; Welcome to the WORLD!" doc:name="DATA INFO Set Payload"/>
        <logger message="THE Flow is completed:::::::::::-------&gt; #[payload]" level="INFO" doc:name="RESPONSE Logger"/>
    </flow>
</mule>
